---
---

<header class="header">
  <div class="container">
    <div class="logo">
      <img src="/logo.png" alt="Life Ride Logo">
    </div>
    
    <nav class="nav">
      <div class="contact-info">
        <span>For ride assistance call</span>
        <a href="tel:5512250080" class="phone-number">(551) 225-0080</a>
      </div>
      
      <div class="nav-buttons">
        <a href="#how-it-works" class="nav-link">HOW IT WORKS</a>
        <a href="#request" class="btn-primary">REQUEST A RIDE</a>
      </div>
    </nav>
  </div>
</header>